//- Replace these variables to generate a new page
- var title = "Space Partitions Code Sprint";
- var date = "May, 10-12 2022";
- var date_webinar = "May, 4";
- var deadline = "Monday, May 7 2022, 7:00am EST";
- var tagline = "OGC API DGGS, Tiles, Coverages and EDR";
- var registration_link = "https://portal.ogc.org/public_ogc/register/220510sp_codesprint.php";
- var schedule_link = "https://github.com/opengeospatial/developer-events/wiki/Space-Partitions-Code-Sprint#schedule";
- var about = "A Code Sprint is a three day virtual event, where dozens of developers from around the world come together to code and share their ideas. The main goals of this code sprint are to support the development of OGC API Discrete Global Grid Systems, Tiles, Coverages and Environmental Data Retrieval and software which implements those standards/ candidate standards, as well as creating awareness about the standards and software projects. The code sprint is hosted by the Open Geospatial Consortium (OGC) and takes place on the OGC-events Discord server. We leverage its channel structure to create a collaborative and productive environment.";
- var wiki_link = "https://github.com/opengeospatial/developer-events/wiki/Space-Partitions-Code-Sprint";
- var fork_link = "https://github.com/doublebyte1/sprint-web-16";
- 
    var speakers = [
        {"src": "assets/img/gobe.jpeg", "alt": "Gobe", "h3": "Gobe Hobona", 
        "p": "Director of Product Management, Standards OGC. "},
        {"src": "assets/img/smile_crop.jpg", "alt": "Joana", "h3": "Joana Simoes", 
        "p": "Developer Relations at OGC, OSGeo Charter Member."},
        {"src": "assets/img/scott.jpeg", "alt": "Scott", "h3": "Scott Simmons", 
        "p": "Chief Standards Officer OGC."},
        {"src": "assets/img/jerome.jpeg", "alt": "Jerome", "h3": "Jerome St-Louis", 
        "p": "Co-chair of the OCG API - Coverages and OGC API - Tiles SWG."}
        ];

- var start_date = "2022/05/7 07:00:00";