//- Replace these variables to generate a new page
- var title = "Vector Data Code Sprint";
- var date = "July, 12-14 2022";
- var date_webinar = "June, 30";
- var deadline = "Tuesday, July 12 2022, 5:00am EST";
- var tagline = "OGC API Features, Moving Features, Routes, GeoVolumes and Joins";
- var registration_link = "";
- var schedule_link = "https://github.com/opengeospatial/developer-events/wiki/Vector-Data-Code-Sprint#schedule";
- var about = "A Code Sprint is a three day virtual event, where dozens of developers from around the world come together to code and share their ideas. The main goals of this code sprint are to support the development of OGC API Features, Moving Features, Routes, GeoVolumes and Joins and software which implements those standards/ candidate standards, as well as creating awareness about the standards and software projects. The code sprint is hosted by the Open Geospatial Consortium (OGC) and takes place on the OGC-events Discord server. We leverage its channel structure to create a collaborative and productive environment.";
- var wiki_link = "https://github.com/opengeospatial/developer-events/wiki/Vector-Data-Code-Sprint";
- var fork_link = "https://github.com/opengeospatial/dev-ogc-org-sprint-landing-17";
- 
    var speakers = [
        {"src": "assets/img/gobe.jpeg", "alt": "Gobe", "h3": "Gobe Hobona", 
        "p": "Director of Product Management, Standards OGC. "},
        {"src": "assets/img/smile_crop.jpg", "alt": "Joana", "h3": "Joana Simoes", 
        "p": "Developer Relations at OGC, OSGeo Charter Member."},
        {"src": "assets/img/scott.jpeg", "alt": "Scott", "h3": "Scott Simmons", 
        "p": "Chief Standards Officer OGC."}
        ];

- var start_date = "2022/07/12 05:00:00";