//- Replace these variables to generate a new page
- var title = "Metadata Code Sprint";
- var date = "September, 14-16 2022";
- var date_webinar = "September, 8";
- var deadline = "Wednesday, September 14 2022, 5:00am EDT";
- var tagline = "OGC API Records/STAC, ISO 19115 and JSON-FG";
- var registration_link = "https://portal.ogc.org/public_ogc/register/220914api_codesprint.php";
- var schedule_link = "";
- var about = "A Code Sprint is a three day virtual or hybrid event, where dozens of developers from around the world come together to code and share their ideas. The main goals of this code sprint are to support the development of OGC API Records/STAC, ISO 19115 and JSON-FG and software which implements those standards/ candidate standards, as well as creating awareness about the standards and software projects. This code sprint takes place on Geovation (London, UK) and at the OGC-events Discord server. It is hosted by the Open Geospatial Consortium (OGC), the International Organization for Standardization (ISO). and the SpatioTemporal Asset Catalogs (STAC) community.";
- var wiki_link = "";
- var fork_link = "https://github.com/opengeospatial/dev-ogc-org-sprint-landing-18";
- var location = "Geovation (London, UK)";
- var location_link = "https://geovation.uk/"
- 
    var speakers = [
        {"src": "assets/img/gobe.jpeg", "alt": "Gobe", "h3": "Gobe Hobona", 
        "p": "Director of Product Management, Standards OGC. "},
        {"src": "assets/img/smile_crop.jpg", "alt": "Joana", "h3": "Joana Simoes", 
        "p": "Developer Relations at OGC, OSGeo Charter Member."}
        ];

- var start_date = "2022/09/14 07:00:00";